.accepted_payments {
    padding: 0 30px;
    margin-bottom: 10px;
}

.payment_logos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.payment_logos > img {
    width: 50px;
    height: 30px;
}